.sidebar-dropdown {
  $dropdown-height: 36px;
  $dropdown-list-padding: 20px;
  $community-length: 8;
  $store-length: 9;
  $expert-length: 2;

  @function _calculate-max-content-height($length) {
    @return $dropdown-height * $length + $dropdown-list-padding;
  }

  &.is-active {
    .sidebar-dropdown-button {
      color: $blue;
    }
  }

  &.is-open {
    .is-community {
      .sidebar-dropdown-content {
        max-height: _calculate-max-content-height($community-length);
      }
    }

    .is-store {
      .sidebar-dropdown-content {
        max-height: _calculate-max-content-height($store-length);
      }
    }

    .is-expert {
      .sidebar-dropdown-content {
        max-height: _calculate-max-content-height($expert-length);
      }
    }

    .sidebar-dropdown-button i:last-child {
      transform: translateY(-50%) rotate(180deg);
    }

    .sidebar-dropdown-content {
      max-height: 324px + $dropdown-list-padding;
    }

    .sidebar-dropdown-content-list {
      padding-bottom: $dropdown-list-padding;
    }
  }

  &-button {
    @include text-style(18, $primary);
    @include flex(start);
    position: relative;
    width: 100%;
    height: 54px;
    padding: 0 8px;
    font-weight: 700;
    transition: color 200ms ease-in-out;

    i {
      &:first-child {
        position: relative; //to-do: check if applied to all elements
        top: 1px; //to-do: check if applied to all elements
        margin-right: 8px;
        font-size: 24px;
        color: $primary;
      }

      &:last-child {
        @include pos-center-y;
        right: 8px;
        font-size: 16px;
        color: $primary;
        transition: transform 200ms ease-in-out;
      }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;

    &-list {
      &-item {
        @include flex(start);

        &.is-active {
          a {
            color: $blue;
          }
        }

        a {
          @include flex(start);
          @include text-style(14, $primary);
          width: 100%;
          height: $dropdown-height;
          padding: 0 12px;
          font-weight: 700;
        }

        .ic-new {
          font-size: 16px;
        }
      }
    }
  }
}
