.gnb {
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flex(between);
    height: $gnb-height-sm - 1px;
  }

  .logo {
    @include pos-center;

    img {
      display: block;
      width: auto;
      height: 20px;

      a {
        display: block;
      }
    }
  }

  &-right {
    .button-group {
      @include flex(end);
    }
  }

  &-is-search {
    margin-right: 4px;
  }

  &-auth {
    margin-left: 8px;

    a {
      @include text-style(14, $secondary);
      font-weight: 700;

      &:hover {
        color: $blue;
      }

      &:first-child {
        margin-right: 12px;
      }
    }
  }

  @include responsive(T) {
    $padding: 8px;

    &-wrapper {
      height: $gnb-height-md - 1px;
    }

    .logo {
      position: static;
      padding: $padding;
      margin-right: 32px; //- ($padding * 2)
      transform: none;

      img {
        height: 24px;
      }
    }

    &-left {
      @include flex(start);
    }

    &-right {
      @include flex(end);

      .button-group {
        margin-right: 24px;
      }

      .btn-fill-primary {
        width: 88px;

        i {
          margin-left: 4px;
        }
      }
    }

    &-icon-button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include responsive(D) {
    &-search {
      position: relative;
      width: 264px;
      margin-right: 24px;

      .input-group {
        width: 100%;
      }

      .search-history {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        display: none;
        width: 100%;
        padding: 16px 8px 8px;
        background-color: $white;
        border: 1px solid $border;
        border-radius: 4px;
        box-shadow: $dropdown-shadow;

        &.is-active {
          display: block;
        }

        &-header {
          padding: 0 8px;
        }
      }
    }
  }
}
