.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: 240px;
  height: 100vh;
  padding: 32px 20px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  background-color: $white;

  &-header {
    padding: 0 12px;

    .logo {
      @include flex(start);

      a {
        display: block;
      }

      img {
        display: block;
        width: auto;
        height: 20px;
      }
    }
  }

  &-user,
  &-auth {
    @include flex(start);
    height: 88px;
  }

  &-user {
    a {
      @include text-style(14, $primary);
      @include flex(start);
      width: 100%;
      font-weight: 700;
    }

    .avatar-24 {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 8px;
    }

    .user-name {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-auth {
    @include flex(between);

    a {
      width: 84px;
    }
  }

  &-menu {
    .sidebar-dropdown {
      border-top: 1px solid $border;

      &.is-expert {
        border-bottom: 1px solid $border;
      }
    }

    &-my {
      margin-top: 16px;

      &-list {
        &-item {
          a {
            @include flex(start);
            @include text-style(14, $primary);
            width: 100%;
            height: 36px;
            padding: 0 12px;

            &:active {
              color: $blue;
            }
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
